.navbar {
  background-color: rgb(243, 232, 232);
  /* height: 55px; */
  margin-top: 50px !important;
  border-radius: 20px;
  /* border: 8px solid rgb(7, 7, 8); */
}
.header-navbar {
  z-index: 1 !important;
}
.left-nav {
  margin-left: 25px !important;
}

.right-nav {
  margin-right: 25px !important;
}

.nav-tab:hover {
  border-bottom: 1px solid gray !important;
}
.active-tab {
  font-weight: 600 !important;
}
.navbar a {
  font-size: 20px !important;
}
.counter-cart {
  content: attr(value);
  font-size: 10px;
  color: #fff;
  background: rgb(224, 43, 43);
  border-radius: 50%;
  padding: 0 6px;
  position: absolute !important;
  left: 98%;
  top: 50%;
  opacity: 0.9;
  font-weight: bold;
}
.cart-icon {
  position: relative !important;
}

@media (max-width: 600px) {
  .right-nav {
    /* margin-right: 100000px !important; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 30px !important;
  }
  .middle-nav {
    display: none !important;
  }
  a img {
    display: none !important;
  }
  .counter-cart {
    left: 79%;
    top: 70%;
  }
}

.navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
