@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  background-image: url("../../../assets/e2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif !important;
  /* margin-top: 150px !important; */
  height: 100%;

  /* overflow: auto; */
  /* margin-left: 150px !important; */
}

/* .home1 {
  background-image: url("../../../assets/arg7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightblue;
  min-height: 100vh;
} */

.home-text-container:hover {
  opacity: 0.7;
}

.home-text-image {
  max-width: 47vh;
  max-height: 50vh;
  height: 40vh;
  filter: brightness(50%);
  border-radius: 10px;
}
.home-text-container {
  display: flex;
  align-items: center;
  margin-top: 250px;
  justify-content: center;
  gap: 5%;
  transition: opacity 0.5s ease-in-out;
}
.slide-in-visible {
  opacity: 1;
  animation: slideInFromLeft 2s forwards;
}
.home-text-title {
  font-size: 25px;
  font-weight: 600;
  color: rgb(199, 207, 214);
}
.home-text {
  max-width: 70vh;
  font-size: 20px;

  color: rgb(151, 151, 153);
}
.home-left-cont {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.home-showmore {
  display: flex;
  background-color: #fad0e2e5;
  border-radius: 10px;
  padding: 0.6% 3%;
  font-size: 19px;
  text-align: center;
}
.home-OurStory-link {
  text-decoration: none;
}
.home-category-container {
  display: flex;
  margin-inline: 12%;
}
.category-box {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  height: 100%;
  align-items: center;
}
.category-box-image {
  border: 1px solid #000;
  width: 38vh;
  height: 35vh;
}
.category-name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  /* bottom: var(--swiper-pagination-bottom, -10px)!important; */
  top: 400px !important;
  left: 0;
  width: 100%;
  /* height:100%; */
  /* margin-top: 20px; */
}

@media (max-width: 768px) {
  .best-seller-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box {
    width: 20%;
    margin-bottom: 10px;
  }
}

.d1 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 145px;
  color: rgb(199, 207, 214);
}

/* img {
  height: 500px;
} */

/* .containerD body {
  justify-content: center;
} */

.containerD {
  display: flex;
  margin-top: 100px;
  /* margin-top: 200px; */
  height: 100vh;
  justify-content: center;
  /* background: whitesmoke; */
}

.cardD {
  height: 600px;
  margin: 30px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.containerD img {
  height: 600px;
  width: 550px;
  border-radius: 3px;
  transition: 0.5s;
}

.intro {
  height: 200px;
  width: 550px;
  padding: 6px;
  box-sizing: border-box;
  bottom: -600px;
  position: absolute;
  background: rgba(5, 5, 5, 0.5);
  color: white;
  transition: 0.7s;
}

.containerD h1 {
  margin: 10px;
  font-size: 40px;
}

.containerD p {
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.containerD span {
  font-weight: bold;
}

.cardD:hover {
  cursor: pointer;
}

.cardD:hover .intro {
  height: 220px;
  /* bottom: -280px; */

  background: black;
}

.cardD:hover p {
  opacity: 1;
  visibility: visible;
}

.cardD:hover img {
  transform: scale(1.1) rotate(-3deg);
}
